APP_NAME=Comidinhas BFF
APP_ENV=local
APP_VERSION=0.1.0
WEB_APP_BASE_URL=https://comidinhas-web-production.up.railway.app
WEB_GROUP_INVITE_PATH=/entrar
LOG_LEVEL=INFO
LOG_HTTPX_LEVEL=WARNING
LOG_UVICORN_ACCESS_LEVEL=INFO
LOG_REQUEST_BODY=false
LOG_BODY_MAX_CHARS=2000

OPENAI_API_KEY=
OPENAI_CHAT_MODEL=gpt-4o-mini

GOOGLE_MAPS_API_KEY=
GOOGLE_PLACES_DEFAULT_LANGUAGE_CODE=pt-BR
GOOGLE_PLACES_DEFAULT_REGION_CODE=BR
GOOGLE_PLACES_MAX_PHOTOS_PER_PLACE=10

SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_PROFILE_BUCKET=profile-photos
SUPABASE_PROFILE_PHOTO_MAX_BYTES=2097152
SUPABASE_GROUP_BUCKET=group-photos
SUPABASE_GROUP_PHOTO_MAX_BYTES=2097152

INFOBIP_BASE_URL=https://55e4jx.api.infobip.com
INFOBIP_API_KEY=
INFOBIP_WHATSAPP_FROM=
INFOBIP_DEFAULT_TEMPLATE_NAME=test_whatsapp_template_en
INFOBIP_DEFAULT_LANGUAGE=en
