APP_NAME=Comidinhas BFF
APP_ENV=local
APP_VERSION=0.1.0

OPENAI_API_KEY=
OPENAI_CHAT_MODEL=gpt-4o-mini

GOOGLE_MAPS_API_KEY=
GOOGLE_PLACES_DEFAULT_LANGUAGE_CODE=pt-BR
GOOGLE_PLACES_DEFAULT_REGION_CODE=BR
GOOGLE_PLACES_MAX_PHOTOS_PER_PLACE=10

SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_PROFILE_BUCKET=profile-photos
SUPABASE_PROFILE_PHOTO_MAX_BYTES=2097152
